map.augmego.ca {
    encode gzip zstd
    reverse_proxy minecraft:8100
}

http://map.augmego.com, https://map.augmego.com {
    redir https://map.augmego.ca{uri} permanent
}

http://play.augmego.com, https://play.augmego.com {
    redir https://play.augmego.ca{uri} permanent
}
